[submodule "tools/img2sdat"]
	path = tools/img2sdat
	url = https://github.com/iamsaalim/img2sdat.git
	
[submodule "tools/Anydevice"]
	path = tools/Anydevice
	url = https://github.com/iamsaalim/Anydevice.git	

[submodule "tools/sdat2img"]
	path = tools/sdat2img
	url = https://github.com/iamsaalim/sdat2img
